.modal-body {
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  background-color: rgb(61 65 72 / 77%);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  margin: 10em auto;
  padding: 1em 3em;
  color: azure;
  
  h2 {
    font-family: 'Towards-vm2PA';
    text-align: center;
    font-size: 200%;
    margin-bottom: .5em;
  }

  .close-button {
    position: absolute;
    background: none;
    border: none;
    color: azure;
    font-size: 35px;
    right: 20px;
    top: 18px;
    transform: rotate(-45deg);
  }

  .send {
    font-family: 'Disket-Mono-Regular';
    background: none;
    border: none;
    font-size: 20px;
  }

  .MuiTextField-root {
    width: 100%;
  }

  // Ecart entre les inputs
  .MuiTextField-root,
  .MuiTextField-root,
  .submit-btn-div, textarea {
    margin-top: 1em;
    color: azure;
    border-bottom-color: azure
  }
  
  // Border Color des inputs
  .MuiInputBase-multiline:after,
  .MuiInput-underline:after {
    border-bottom-color: azure ;
  }

  .MuiInputBase-multiline::before,
  .MuiInput-underline::before {
    border-bottom-color: azure ;
  }

  // Couleur du label lors du focus
  label.Mui-focused {
    color: azure;
  }

  input, label {
    
    color: azure;
  }

  label {
    font-family: 'Disket-Mono-Regular';
  }

}

//Application d'un bacground de couleur sur les modales pour firefox
// car l'effet blur (flou) n'est pas supporté par ce navigateur
@supports not (backdrop-filter:blur()) {
  .modal-body {
    background: #222020;
  }
}

// Phone
@media only screen and (max-width : 479px) {
  .modal-body  {
    h2 {
      font-size: 22px;
    }
    .close-button {
      font-size: 25px;
      top: 0px;
    }
    width: 85%;
    height: 60%;
  }
}

// Tablette
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .modal-body  {
    h2 {
      font-size: 25px;
    }
    .close-button {
      font-size: 28px;
      top: 0px;
    }
    width: 85%;
    height: 60%;
  }
}

/* 
  Tablets, Ipads
  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .modal-body  {
    h2 {
      font-size: 28px;
    }
    .close-button {
      font-size: 30px;
      top: 0px;
    }
    width: 85%;
    height: 60%;
  }
}
