@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Disket-Mono-Regular';
  src: url('../assets/fonts/Disket-Mono-Regular.ttf');
}

@font-face {
  font-family: 'Towards-vm2PA';
  src: url('../assets/fonts/Towards-vm2PA.otf');
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Goldman&display=swap');

// Ignore all of this, scroll down until you see the next comment.
// I just like my eye candy. 
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

$redColor: rgb(182, 32, 241);
$blueColor:rgb(25, 233, 18);

body {
  height: 100%;
  min-height: 100vh;
  background: vars.$background;
  overflow-x: hidden;
  #root {
    height: 100%;
  }
}

.display-3d {
  cursor: pointer;
  
  padding: 10px;
  animation: icon3d 200ms 10;
  color: #fff;
  &:hover {
    animation: icon3d 200ms infinite;
  }
}



@keyframes icon3d {
  0% {
    text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
  }
  25% {
    text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
  }
  50% {
    text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
  }
  75% {
    text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
  }
  100% {
    text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
  }
}
