@import 'https://fonts.googleapis.com/css?family=Raleway';

/*? NAVBAR START */
header {
  height: 10%;
  width: 100%;
  .navbar-container
  {
    margin: 0 auto;
    text-align: center;

    a {
      font-family: 'Towards-vm2PA';
      margin: 0px 10px;
      font-size: 40px;
      text-transform: uppercase;
      color: azure;
    }
  }
}

@media (max-width: 480px) {
    .navbar-container{
        padding:1em 0.1em;
    }

    .navbar-container a{
        font-size: 11px;
    }
}
/*? NAVBAR END */

/*? FOOTER START*/
footer {
  width: 100%;
  align-self: flex-end;
  margin-bottom: 1em;
  font-family: towardsregular;

  .media {
    display: flex;
    justify-content: center;

    .nav-icon {
      margin: 0 2vw;
    }
  }
}
/*? FOOTER END*/
