.about {
  display: flex;
  align-self: flex-start;
  main {
    display: flex;
  }
  .text-about-me {
    display: flex;
    margin: 0 2em;
    font: 35px Disket-Mono-Regular;
    color: azure;
  }
}

