.about {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  main {
    display: flex;
    margin-bottom: 7em;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-about-me,
  .skills {
    display: flex;
    margin: 0 2em;
    font: 35px Disket-Mono-Regular;
    color: azure;
    margin: auto 3em;
    padding-bottom: 4rem;
  }

  .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 70px;
      height: 70px;
    }
  }
  
  .face-button {
    $height: 72px;
    $accentColor: azure;
    
    height: $height;
    display: inline-block;
    border: 3px solid $accentColor;
    border-radius: 6px;
    font-family: 'Disket-Mono-Regular';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: $accentColor;
    overflow: hidden;
    
    .face-primary,
    .face-secondary {
      display: block;
      padding: 1.5px 32px;
      line-height: 55px;
      transition: margin .4s;
    }
    
    .face-primary {
      color: azure;
    }
    
    &:hover .face-primary {
      margin-top: -$height;
    }
  }
}

// Phone
@media only screen and (max-width : 479px) {
  .about {
    main {
      margin-bottom: 4em;
    }

    .text-about-me {
      margin: auto 2em;
      font-size: 25px;
      padding-bottom: 4rem;
    }
  
    .skills {
      margin: auto 2em;
      font-size: 25px;
      padding-bottom: 4rem;
    }

    .icon {
      img {
        width: 50px;
        height: 50px;
      }
    }

    .face-button {
      border: 2px solid azure;
      font-size: 15px;
      height: 64px;

      .face-primary,
      .face-secondary {
        padding: 1.5px 15px;
      }
    }
  }
}


// Tablette
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .about {
    main {
      margin-bottom: 4em;
    }

    .text-about-me {
      margin: auto 2em;
      font-size: 35px;
      padding-bottom: 4rem;
    }
  
    .skills {
      margin: auto 2em;
      font-size: 35px;
      padding-bottom: 4rem;
    }

    .icon {
      img {
        width: 60px;
        height: 60px;
      }
    }

    .face-button {
      border: 2px solid azure;
      font-size: 15px;
      height: 64px;

      .face-primary,
      .face-secondary {
        padding: 2.5px 25px;
      }
    }
  }
}

/* 
  Tablets, Ipads
  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    main {
      margin-bottom: 4em;
    }

    .text-about-me {
      margin: auto 2em;
      font-size: 40px;
      padding-bottom: 4rem;
    }
  
    .skills {
      margin: auto 2em;
      font-size: 40px;
      padding-bottom: 4rem;
    }

    .icon {
      img {
        width: 80px;
        height: 80px;
      }
    }

    .face-button {
      border: 2px solid azure;
      font-size: 17px;
      height: 64px;

      .face-primary,
      .face-secondary {
        padding: 3px 30px;
      }
    }
  }
}


// padding: 2px 10px;
// line-height: 29px;
