.main-content {
  //margin: 0 2em;
  margin: auto 4em;
  font: 60px 'Rajdhani';
  font-weight: 500;
  color: azure;
  font-family: 'Disket-Mono-Regular';
  // text-align: center;
}

// Phone
@media only screen and (max-width : 479px) {
  .main-content {
    margin: auto 3em;
    font-size: 28px;
  }
}

// Tablette
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .main-content {
    font-size: 48px;
    margin: auto 2em;
  }
}

/* 
  Tablets, Ipads
  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .main-content {
    font-size: 62px;
    margin: auto 3em;
  }
}
