.main-content {

  margin: 0 2em;
  font: 60px 'Rajdhani';
  font-weight: 500;
  color: azure;
  // text-align: center;

}

@media (max-width: 480px) {
    main .main-content p {
      font-size: 22px;
      
    }
}  
