.carousel {
  width: inherit;
  height: fit-content;
  
  img {
    height: 35vh;
    width: 100%;
  }
  .slider-single {
    .slider-right, .slider-left {
      div {
        border: none;
      }
    } 
  }
}

