.parent-tv-modal {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.tv-modal-body {
  width: 70%;
  height: 45em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61 65 72 / 77%);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  margin: 0 auto;
  padding: 1em 3em;
  color: azure;
  
  h2 {
    height: fit-content;
    font-family: 'Towards-vm2PA';
    text-align: center;
    font-size: 200%;
  }

  .close-button {
    position: absolute;
    background: none;
    border: none;
    color: azure;
    font-size: 35px;
    right: 20px;
    top: 18px;
    transform: rotate(-45deg);
  }
  
  p {
    color: azure;
    font-family: 'Disket-Mono-Regular';
    font-size: x-large;
    height: fit-content;
    text-align: center;
  }
}

//Application d'un bacground de couleur sur les modales pour firefox
// car l'effet blur (flou) n'est pas supporté par ce navigateur
@supports not (backdrop-filter:blur()) {
  .tv-modal-body {
    background: #222020;
  }
}

// Phone
@media only screen and (max-width : 479px) {

  .tv-modal-body  {
    h2 {
      font-size: 22px;
    }
    .close-button {
      font-size: 25px;
      top: 0px;
    }
    p {
      font-size: 16px;
    }
    width: 90%;
    height: 45em;
  }
}

// Tablette
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .tv-modal-body  {
    h2 {
      font-size: 30px;
    }
    .close-button {
      font-size: 30px;
      top: 0px;
    }
    p {
      font-size: 21px;
    }
    width: 90%;
    height: 43em;
  }
}

/* 
  Tablets, Ipads
  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .tv-modal-body  {
    h2 {
      font-size: 30px;
    }
    .close-button {
      font-size: 30px;
      top: 0px;
    }
    p {
      font-size: 21px;
    }
    width: 90%;
    height: 46em;
  }
}
